<div class="hero">
    <nav>
        <h2 class="logo">
            Dev<span>InAgro</span>
        </h2>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre Nós</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
        <a routerLink="login" class="btn">Login</a>
    </nav>
    <div class="content">
        <h4>Olá, mundo!</h4>
        <h1>Somos a DevInAgro</h1>
        <p>Apaixonados por Inovação</p>
    </div>
</div>

<!-- Sobre nós Section -->

<section class="about">
    <div class="main">
        <img src="/assets/img/milho.jpeg">
        <div class="about-text">
            <h2>Sobre Nós</h2>
            <h5>Tecnologia <span>& Agronegócio</span></h5>
            <p>Somos uma StartUp que desenvolve negócios utilizando como base a tecnologia</p>
            <button type="button">Entre em contato</button>
        </div>
    </div>
</section>

<!-- Serviços Section -->

<div class="service">
    <div class="title">
        <h2>Nossos Serviços</h2>
    </div>
    <div class="box">
        <div class="card">
            <h5>Desenvolvimento Web</h5>
            <div class="pra">
                <p>Todo website deveria ser criado com dois objetivos primários: Primeiramente, ele deveria funcionar em qualquer dispositivo. Segundo, deveria ser o mais veloz possível.</p>
            </div>
        </div>
        <div class="card">
            <h5>Data Analytics</h5>
            <div class="pra">
                <p>Todo website deveria ser criado com dois objetivos primários: Primeiramente, ele deveria funcionar em qualquer dispositivo. Segundo, deveria ser o mais veloz possível.</p>
            </div>
        </div>
        <div class="card">
            <h5>Automação de Processos</h5>
            <div class="pra">
                <p>Todo website deveria ser criado com dois objetivos primários: Primeiramente, ele deveria funcionar em qualquer dispositivo. Segundo, deveria ser o mais veloz possível.</p>
            </div>
        </div>
    </div>
</div>

<!-- Contato -->

<div class="contact-me">
    <p>Deixe-nos levar a transformação digital até a sua empresa.</p>
    <a class="button-two" href="#">Contato</a>
</div>

<footer>
    <p>DevInAgro</p>
    <p>Para mais informações, por favor entre em contato.</p>
</footer>